*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style :none;
}
a{
    text-decoration: none;
    color: black;
}
#body{ 
    min-width: 1190px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    line-height: 16px; font-size: 12px; color: #202020; 
    height: 1000px; 
}
.display-none{
    display: none !important;
}
.clearfix::after{
    clear: both; display: block; content: '';
}
html, body {
    height: 100%;
  }

/*메인 헤드*/
.main-head-container{
    width: 1130px; margin: 0 auto; padding: 0 30px;
}
.head-inner{
    position: relative; height: 160px; 
}

.head-logo{
    position: absolute;
    margin: 30px;
}
.head-logo .logo-link{
    font-size: 42px;
    font-weight: bold;
    
}
.search-box{
    border: 1px solid black;
    border-radius: 5px;
}
.head-login-container{
   position: absolute;
   right: 0;
   top: 10px
}
.head-login-container .login-link{
    font-size: 12px;
}.head-login-container .login-link:hover{
    text-decoration: underline;
}
.head-search-container{
    position: absolute;
    top: 40%;
    left: calc(40vh);
}
.search-box{
    width: 550px;
    height: 50px;
    line-height: 50px;
}
.search-box .search-window{
    padding: 2px;
    margin: 2px 4px;
    border: none;
    width: 480px;
    height: 30px;
    font-size: 15px;
    
}
.search-box .search-btn{
    text-align: center;
    width: 50px;
    font-weight: bold;
    float: right;
    border-radius: 5px;
}
.search-box .search-btn:hover{
    background-color: #dae1e6;
}

.head-nav-menu-container{
    border-top: 1px solid #dae1e6;
    border-left: 1px solid #dae1e6;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px #dae1e6;
}

.head-nav-menu-container .nav-menu-list{
    display: flex;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.head-nav-menu-container .nav-menu-list>*{
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.head-nav-menu-container .nav-menu-list>*:hover{
    font-weight: bold;
    background-color: #dae1e6;
}
/*바디*/
.main-body-container{
    width: 1130px;
    margin: 0px auto;
    padding: 0px 30px;
}
.body-inner{
    margin: 30px;
}
.body-inner>*{
    height: 400px;
    display:block;
    margin: 5px;
}
.body-first-box{
    text-align: center;
}
.first-left-box{
    display: inline-block;
}
.first-left-banner-icon{
    display: block;
    width: 450px;
    height: 300px;
    opacity: 0.9;
    box-shadow: 4px 4px 4px #dae1e6;
}
.first-left-banner-expain{
    display: inline-block;
    text-align: center;
    width: 450px;
    box-shadow: 2px 2px 2px #dae1e6;
}
.first-right-box{
    display: inline-block;
    box-shadow: 4px 4px 4px #dae1e6;
    width: 450px;
    height: 320px;
    border-top: 1px solid #dae1e6;
}
.first-right-recommend{
    position: relative;
}
.first-right-recommend>*{
    position: absolute;
}
.first-right-recommend-title{
top: 2px;
text-align: center;
right: 160px;
}
.first-right-recommend-title span{
    text-align: center;
    font-weight: 700;
}
.first-right-recommend-contents{
    top: 30px;

}
.first-right-recommend-contents p{
    text-align: start;
    line-height: 30px;
}
.first-right-recommend-link{
    right: 0;
    bottom: 0;
}

.body-second-box{
    position: relative;
}
.second-list{
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.second-list-item{
    width: 33.33%;
    display: inline-block;
    border-left: 2px solid white;
    box-sizing: border-box;
}
.second-list-item>img{
    width: 100%;
    height: 400px;
}
.second-item-link{
    width: 300px;
    height: 100%;
    display: block;
}

.body-second-box .btn-next,
.body-second-box .btn-prev,
.body-third-box .btn-next,
.body-third-box .btn-prev,
.body-fourth-box .btn-next,
.body-fourth-box .btn-prev
{
    position: absolute;
    top: 50%;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
}
.body-second-box .btn-next:hover,
.body-second-box .btn-prev:hover,
.body-third-box .btn-next:hover,
.body-third-box .btn-prev:hover
.body-fourth-box .btn-next:hover,
.body-fourth-box .btn-prev:hover{
    background-color: #b9b0b0;
}
.body-second-box .btn-prev, .body-third-box .btn-prev, .body-fourth-box .btn-prev{
    left: 0;
}
.body-second-box .btn-next, .body-third-box .btn-next, .body-fourth-box .btn-next{
    right: 0;
    
}

.body-third-box{
    margin: 30px;
    padding: 30px;
    position: relative;
    height: 600px;
    box-shadow: 4px 4px 4px #dae1e6;
    overflow: hidden;
    border-top: 5px solid #dae1e6;
    border-left: 5px solid #dae1e6;
    width: 89%;
}
.body-third-box .third-list{
    white-space: nowrap;
    height: 100%;
}
.body-third-box .third-list-item{
    width: 33.33%;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
}
.body-third-box .third-list-item .third-item-link{
    height: 70%;
    display: block;
}
.body-third-box .third-list-item .third-item-link>img{
    height: 100%;
    width: 100%;
}
.body-third-box .third-list-item>div{
    margin: 4px;

}
.body-fourth-box{
    height: 700px;
    margin: 20px;
    border: 1px dashed #dae1e6;
    position: relative;
    background-color: #dae1e6;
}

.body-fourth-box .fourth-list{
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.body-fourth-box .fourth-list-item{
    margin: 12px;
    height: 70%;
    width: 33.33%;
    display: inline-block;
    background-color: red;
}
.body-fourth-box .fourth-list-item>a{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.fourth-item-contents{
    margin: 7px;
    text-align: center;
    border: 1px solid #dae1e6;
    height: 30%;
    background-color: antiquewhite;
    line-height: 142px;
}

.body-fifth-box{
    border: 1px solid black;
    margin-top: 20px;
}
.fifth-box-left{
    border: 1px solid black;
    height: 80%;
    width: 35%;
    margin: 15px;
    padding: 15px;
    float: left;
}
.fifth-box-right{
    display: inline-block;
    border: 1px solid black;
    height: 80%;
    width: 50%;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
}
.fifth-left-news{
    display: block;
    width: 100%;
}

/*푸터*/
.main-footer-container{
    background-color: #f1f5f8;
    height: 120px;
    width: 100%;
}