* { margin: 0; padding: 0;}
body{
    font: 13px/1.4 NotoSansKR,NotoSansJP,"돋움",Dotum,AppleGothic,Sans-serif; color: #666;
    min-width: 1200px; height: 100%; background: #fff;
}
a{text-decoration: none;}
ul, li{
    list-style: none;
}
/* 상단 */
.container-header{
    box-shadow: 0 1px 3px 0 rgb(41 42 42 / 15%);
}
.inner-container{
    width: 1200px; margin: 0 auto; padding: 0 30px;
}
.box-header{
    position: relative; height: 100px;
}
.box-header .search-area {
    position: absolute; top: 50%; left: 280px; margin-top: -28px;
}
.box-header .form-search{
    width: 592; height: 52px; border: 2px solid #2c47dc; border-radius: 5px;
}
.box-header .input-search{
    width: 500px; height: 24px; padding: 13px 15px; margin: 1px; background-color: #fff; font-size: 18px; line-height: 24px; 
    color: #000; font-weight: bold; outline: 0; border: 0;
}
.box-header .btn-search{
    position: absolute; top: 0; right: 0; bottom: 0; width: 56px; background-color: #2c47dc;
    border: 0; outline: 0; border-radius: 0 5px 5px 0; cursor: pointer;
}
.box-header .icon-search{
    width: 22px; height: 22px; display: inline-block; vertical-align: top;
    color: #fff;
}
.box-header .box-map{
    position: absolute; top: 35%; left: 900px;
}
.box-header .box-map .link-map{
    overflow: hidden;
}
.box-header .box-map .icon-map{
    width: 30px; height: 30px; color: #2c47dc;
}
.box-header .box-map .icon-map:visited{
    color: #2c47dc;
}

.box-header .box-user{
    position: absolute; top: 35%; left: 1000px;
}
.box-header .box-user .link-user{
    overflow: hidden;
}
.box-header .box-user .icon-user{
    width: 30px; height: 30px; color: #2c47dc;
}
.box-header .box-user .icon-user:visited{
    color: #8c8fa0;
}
/* 내용 */
.container-body{
    width: 1200px; margin: 0 auto; 
}
.title .tag-area{
    text-align: left; padding-bottom: 0;
}
.title .tag-area::after{
    content: ''; display: block; width: 100%; clear: both;
}
.title .branding-icon{
    float: right; text-align: center; 
}
.title .branding-icon .tour{
    display: inline-block; list-style: none;
}
.contents{
    padding: 0 20px 27px 20px;
}
.contents .title{
    text-align: center; position: relative;
}
.contents .title-area{
    padding: 19px 0 0; text-align: center; margin: 0; overflow: hidden;
    font-weight: 800; color: #333; font-size: 36px; letter-spacing: -1px;
    word-break: keep-all;
}
.contents .address-area{
    display: inline-block; padding-top: 10px;
}
.contents .address-area span{
    float: left; font-size: 16px; color: #666;
}
.contents .sub-title-area{
    margin-top: 24px; width: 100%; text-align: center; 
}
.contents .title-wrap h3{
    padding: 25px 0 0; font-size: bold; word-break: keep-all; font-size: 28px;
    color: #020E26; letter-spacing: -1px; position: relative;
    display: inline-block; max-width: 930px; 
}
.contents .title-wrap h3 em{
    padding: 0 15px; font-weight: bold; box-shadow: inset 0 -12px 0 #0597F2;
}
.contents .post-area{
    position: relative; top: 0; margin: 35px 0 18px; right: 0;
}
.contents .post-area::after{
    content: ''; display: block; clear: both;
}
.contents .post-area .btn-like{
    padding: 0 22px 0 0; border: 0 none; outline: 0 none; background: transparent;
    cursor: pointer;
}
.post-area button{
    float: left; height: 22px; padding: 0 10px; overflow: hidden;
}
.contents .post-area > button{
    float: left; 
}
.contents .post-area .icon-like{
    width: 21px; height: 21px; display: inline-block; vertical-align: middle;
}
.contents .post-area .count-like{ 
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300;
}
.contents .post-area .num-view{
    float: left; 
}
.contents .post-area .num-view .icon-view{
    vertical-align: middle; display: inline-block; width: 24px; height: 24px;
}
.contents .post-area .num-view .count-view{
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300;
}
.contents .post-area .line-right{
    display: inline-block; position: relative;
}
.post-area .line-right{
    float: right;
}
.post-area .line-right button{
    float: left; height: 22px; overflow: hidden;
}
.contents .post-area .line-right button{
    padding: 0 0 0 20px;
}
.contents .post-area .line-right .icon-bookmark{
    position: relative; height: 21px; width: 16px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-print{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-course{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-share{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
/* 내용 */
.detail-tab{
    padding: 0 0 20px; transition: ease-in-out;
}
.detail-tab::after{
    content: ''; display: block; clear: both;
}
.detail-tab ul li{
    float: left; width: 25%; text-align: center; border-top:  1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.detail-tab ul li a{
    position: relative; display: block; line-height: 63px; font-size: 18px;
    letter-spacing: -1px;
}
.detail-tab ul li.on a{
    font-weight: 800; color: #333;
}
.detail-tab ul li a span{
    display: inline-block; padding: 0 30px; position: relative;
}
.detail-tab ul li.on a span::after{
    content: ''; display: block; width: 100%; height: 3px;
    background: #333; position: absolute; left: 0; bottom: 0;
}
.detail-tab ul li a::before{
    content: ''; display: inline-block; width: 1px; height: 16px;
    background: #ccc; position: absolute; left: -1px; top: 50%;
    margin-top: -8px;
}
.detail_tab ul li:first-child a:before{
    display: none;
}
/* 사진 */
.contents-detail .gallery-box .user-upload{
    padding: 0 0 9px; text-align: right;
}
.contents-detail .gallery-box .user-upload button{
    width: 146px; height: 40px; line-height: 38px; border: 1px solid #767676; font-size: 16px; color: #000;
}
.contents-detail .gallery-box .user-upload button span{
    display: inline-block; letter-spacing: -0.5px;line-height: 38px; font-size: 16px; color: #000;
}
.contents-detail .gallery-box .user-upload button span{
    content: ''; display: inline-block; width: 19px; height: 16px; background: url(https://korean.visitkorea.or.kr/resources/images/sub/icon_btn_pic.png) 0 0 / 100% 100% no-repeat;
    vertical-align: -2px; margin-right: 8px;
}
.contents-detail .photo-gallery{
    position: relative; width: 100%; text-align: center;
}
.contents-detail .photo-gallery .swiper-container{
    height: 627px; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1;
}
.contents-detail .photo-gallery .swiper-wrapper{
    position: relative; width: 100%; height: 100%; display: flex;
}
.contents-detail .photo-gallery .swiper-slide{
    background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;
}
.contents-detail .photo_gallery .swiper-pagination{
    right: 30px; left: auto; top: 30; height: 35px; line-height: 33px; border-radius: 50px; width: 65px; color: #fff;
    background: rgba(0, 0, 0, 0.5); font-size: 16px; letter-spacing: -1px;
}

/* 푸터 */
footer{
    width: 100%; margin-top: 60px; padding-bottom: 10px; background: #f7f7f7;
    box-sizing: border-box;
}
footer .box-footer{
    width: 1200px; margin: 0 auto;
}
footer .box-footer .footer-data{
    padding: 20px 0; border-top: 1px solid #e6e6e6; position: relative;
}
footer .box-footer .footer-data::after{
    content: ''; display: block; clear: both;
}
footer .box-footer .footer-data .footer-menu{
    width: 100%; padding-top: 10px; overflow: hidden;
}
footer .footer-data .footer-menu li{
    float: left; line-height: 30px;
}
footer .footer-data .footer-menu li:first-child{
    padding-left: 2px;
}
footer .footer-data .footer-menu a{
    margin-right: 30px; color: #666; font-size: 13px; letter-spacing: -0.25px;
}
footer .footer-data .footer-menu a.personal-info{
    color: #2c47dc; font-weight: bold;
}
footer .footer-data .footer-address{
    clear: both; padding-top: 6px;
}
footer .footer-data .footer-address li{
    display: inline-block; margin-right: 5px; line-height: 1.8; color: #666; font-size: 13px;
}
footer .footer-data .footer-address li>span{
    padding-right: 10px;
}
/* 공통 */
.blind{
    position: absolute;
    width: 1px; height: 1px;margin: -1px; overflow: hidden;
}
button{
    border: 0 none; background-color: transparent; cursor: pointer;
}
.count{
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300; line-height: 18px;
}
a:link, a:visited, a:hover, a:focus, a:active{
    text-decoration: none;
}
.swiper-slide{
    flex-shrink: 0; height: 100%; position: relative;
}
.swiper-pagination-fraction{
    bottom: 10px; left: 0; width: 100%;
}
.swiper-pagination{
    position: absolute; text-align: center;
}
