
*{
    padding: 0; margin: 0;
}

#body { 
    min-width: 1190px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    line-height: 16px; font-size: 12px; color: #202020; 
}

ul,li { 
    list-style: none;
}

.clearfix::after {
    content: ''; clear: both; display: block; 
}

a {
    text-decoration: none;
}


.header{
  position: fixed; height: 145px; width: 100%; top: 0; background-color: #fff;
  box-shadow: 0 3px 5px 1px rgba(0,0,0,0.3);  z-index: 998;
  
}
.header .head-box{
  width: 1190px; margin: 0 auto; height: 100%;
    position: relative;
}

.header .head-box .main-icon-box{
  float: left; width: 380px; background-color: #fff; margin-top: 20px; height: 75px; text-align: center;
  
}

.head-box .search-containerbox .search{
  width: 560px; height: 50px; border: 1px solid black; background-color:#eef0f2;
  font-size: 15px; float: left;  padding: 0 5px;
}
.header .head-box .search-containerbox{
  float: left; background-color: #fff; height: 100px; 
  
}
.head-box .search-containerbox .search-box{
  position: relative; border-radius: 10px;
  float: right; width: 580px; padding-top: 25px;
}
.head-box .search-containerbox .search-box>*{
  border-radius: 10px;
}
.head-box .search-containerbox .search-box .btn-search{
  width: 50px; height: 50px; position: absolute; border: none; 
  top: 25px; right: 10px; bottom: 0; cursor: pointer; padding: 0; outline: 0;
  font-size: 30px;line-height: 50px; color: black; text-align: center;
}
.header .head-box .main-menu-box{
  width: 100%; 
}
.head-box .main-menu-box .list-menu{
  width: 100%; height: 45px; max-width: 1190px; margin: 0 auto; display: flex;
}
.head-box .main-menu-box .item-menu{
 display: flex; justify-content: space-around; width: 100%; height: 100%; background-color: #fff;
 align-items: center;
}
.head-box .main-menu-box .link-menu{
  display: flex; align-items: center; color: #000;
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.head-box .main-menu-box .icon-menu{
  width: 30px; height: 30px;
}
.head-box .main-menu-box .item-menu:hover{
  border-bottom: 5px solid #0a97cd;
}

/* 메인 메뉴바 끝 */
.search-containerbox .search-keyword{
  position: absolute; right: 235.5px; top: 85px; width: 570px; border: 1px solid #666; background: #fff;
  border-radius: 10px; z-index: 999; text-align: left; display: none; 
}
.search-containerbox .search-keyword h2{
  height: 33px; line-height: 33px; margin-top: 20px; padding: 0 28px; font-weight: 800; 
  font-size: 20px; color: #333; letter-spacing: -0.5px;
}
.search-containerbox .search-keyword .list-search{
  float: left; width: 50%; padding-bottom: 32px;
}
.search-containerbox .search-keyword .list-search .item-search{
  margin-top: 20px; padding-left: 28px;
}
.search-containerbox .search-keyword .num{
  float: left; width: 20px; height: 20px; background: #666; border-radius: 3px; color: #fff;
  font-size: 13px; text-align: center; vertical-align: middle;
}
.search-containerbox .search-keyword .link-search{
  overflow: hidden;line-height: 20px; margin-left: 10px; color: #333;
  font-size: 15px; font-weight: 700;text-overflow: ellipsis; white-space: nowrap;
}
.search-containerbox .search-keyword .list-search+.list-search .link-search{
  font-weight: 400; color: #666;
}
.search-containerbox .search-keyword .list-search+.list-search .num{
  background: #949494;
}
.search-containerbox .search-keyword .close-keyword{
  width: 100%; overflow: hidden; height: 33px; background: #eef0f2; text-align: right;
  border-radius: 0 0 10px 10px;
}
.search-containerbox .search-keyword button{
  padding: 0 20px; line-height: 33px; font-size: 14px; color: #333; border-radius: 0 0 10px 0;
  border: 0 none; cursor: pointer;
}
/* 서치바 클릭 박스 */

.head-box .box-quickMenu{
  float: right; width: 210px; background-color: #fff; height: 100px;
}
.head-box .box-quickMenu .box-menu{
  width: 70px; float: left; text-align: center; line-height: 20px; padding-top: 30px;
}

.box-quickMenu .box-menu .btn-quick i{
  font-size: 30px; color: #000;
}
.box-quickMenu .box-menu .text-quick{
  display: block; font-size: 8px; color: #000;
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 메뉴바 우측 아이콘 */


/* 내용 */
.container-body{
    width: 1190px; margin: 0 auto; 
}
.title .tag-area{
    text-align: left; padding-bottom: 0;
}
.title .tag-area::after{
    content: ''; display: block; width: 100%; clear: both;
}
.title .branding-icon{
    float: right; text-align: center; 
}
.title .branding-icon .tour{
    display: inline-block; list-style: none;
}
.contents{
    padding: 0 20px 27px 20px;
}
.contents .title{
    text-align: center; position: relative;
}
.contents .title-area{
    padding: 19px 0 0; text-align: center; margin: 0; overflow: hidden;
    font-weight: 800; color: #333; font-size: 36px; letter-spacing: -1px;
    word-break: keep-all;
}
.contents .address-area{
    display: inline-block; padding-top: 10px;
}
.contents .address-area span{
    float: left; font-size: 16px; color: #666;
}
.contents .sub-title-area{
    margin-top: 24px; width: 100%; text-align: center; 
}
.contents .title-wrap h3{
    padding: 25px 0 0; font-size: bold; word-break: keep-all; font-size: 28px;
    color: #020E26; letter-spacing: -1px; position: relative;
    display: inline-block; max-width: 930px; 
}
.contents .title-wrap h3 em{
    padding: 0 15px; font-weight: bold; box-shadow: inset 0 -12px 0 #0597F2;
}
.contents .post-area{
    position: relative; top: 0; margin: 35px 0 18px; right: 0;
}
.contents .post-area::after{
    content: ''; display: block; clear: both;
}
.contents .post-area .btn-like{
    padding: 0 22px 0 0; border: 0 none; outline: 0 none; background: transparent;
    cursor: pointer;
}
.post-area button{
    float: left; height: 22px; padding: 0 10px; overflow: hidden;
}
.contents .post-area > button{
    float: left; 
}
.contents .post-area .icon-like{
    width: 21px; height: 21px; display: inline-block; vertical-align: middle;
}
.contents .post-area .count-like{ 
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300;
}
.contents .post-area .num-view{
    float: left; 
}
.contents .post-area .num-view .icon-view{
    vertical-align: middle; display: inline-block; width: 24px; height: 24px;
}
.contents .post-area .num-view .count-view{
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300;
}
.contents .post-area .line-right{
    display: inline-block; position: relative;
}
.post-area .line-right{
    float: right;
}
.post-area .line-right button{
    float: left; height: 22px; overflow: hidden;
}
.contents .post-area .line-right button{
    padding: 0 0 0 20px;
}
.contents .post-area .line-right .icon-bookmark{
    position: relative; height: 21px; width: 16px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-print{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-course{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
.contents .post-area .line-right .icon-share{
    position: relative; height: 21px; width: 21px; color: #666;
    display: inline-block; vertical-align: middle;
}
/* 내용 */
.detail-tab{
    padding: 0 0 20px; transition: ease-in-out;
}
.detail-tab::after{
    content: ''; display: block; clear: both;
}
.detail-tab ul li{
    float: left; width: 25%; text-align: center; border-top:  1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.detail-tab ul li a{
    position: relative; display: block; line-height: 63px; font-size: 18px;
    letter-spacing: -1px;
}
.detail-tab ul li.on a{
    font-weight: 800; color: #333;
}
.detail-tab ul li a span{
    display: inline-block; padding: 0 30px; position: relative;
}
.detail-tab ul li.on a span::after{
    content: ''; display: block; width: 100%; height: 3px;
    background: #333; position: absolute; left: 0; bottom: 0;
}
.detail-tab ul li a::before{
    content: ''; display: inline-block; width: 1px; height: 16px;
    background: #ccc; position: absolute; left: -1px; top: 50%;
    margin-top: -8px;
}
.detail_tab ul li:first-child a:before{
    display: none;
}
/* 사진 */
.contents-detail .gallery-box {
    padding: 0 0 9px; text-align: right;
}
.contents-detail .gallery-box .user-upload {
    width: 146px; height: 40px; line-height: 38px; border: 1px solid #767676; font-size: 16px; color: #000;
}
.contents-detail .gallery-box .user-upload button span{
    display: inline-block; letter-spacing: -0.5px;line-height: 38px; font-size: 16px; color: #000;
}
.contents-detail .gallery-box .user-upload button span{
    content: ''; display: inline-block; width: 19px; height: 16px; background: url(https://korean.visitkorea.or.kr/resources/images/sub/icon_btn_pic.png) 0 0 / 100% 100% no-repeat;
    vertical-align: -2px; margin-right: 8px;
}
.contents-detail .photo-gallery{
    position: relative; width: 100%; text-align: center;
}
.contents-detail .photo-gallery .swiper-container{
    height: 627px; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1;
}
.contents-detail .photo-gallery .swiper-wrapper{
    position: relative; width: 100%; height: 100%; display: flex;
}
.contents-detail .photo-gallery .swiper-slide{
    background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;
}
.contents-detail .photo-gallery .swiper-pagination{
    right: 30px; left: auto; top: 30; height: 35px; line-height: 33px; border-radius: 50px; width: 65px; color: #fff;
    background: rgba(0, 0, 0, 0.5); font-size: 16px; letter-spacing: -1px;
}
.contents-detail .photo-gallery .btn-next,
.contents-detail .photo-gallery .btn-prev{
    width: 40px; height: 40px; margin-top: -20px; position: absolute;
    top: 50%; z-index: 1;
}
/* 코스예약 */
.contents .price-area{
    position: relative; width: 100%; margin-top: 24px;
}
.contents .price-area h3{
    width: 100%; padding: 31px 0 9px; margin-top: 0; font-size: 24px;
    border-bottom: 2px solid #333; font-weight: 800;
    letter-spacing: -1px; color: #333;
}
.contents .pay-area .check-area{
    margin: 0 100px;
}
.contents .pay-area .check-area .btn-check{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #767676;
    font-size: 16px; color: #000; float: left; border-radius: 10px;
}
.contents .pay-area .check-area .btn-check:hover{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #767676;
    font-size: 16px; color: #fff; background: #333;
}
.contents .pay-area .add-course .btn-course{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #60BF81;
    font-size: 16px; color: #000; float: left; border-radius: 10px;
}
.contents .pay-area .add-course .btn-course:hover{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #d4ebd4;
    font-size: 16px; color: #fff; background: #60BF81;
}
.contents .pay-area .shoppingbag-area .btn-shoppingbag{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #347355;
    font-size: 16px; color: #000; float: left; border-radius: 10px;
}
.contents .pay-area .shoppingbag-area .btn-shoppingbag:hover{
    position: relative; width: 200px; margin-top: 20px;
    height: 50px; line-height: 38px; border: 1px solid #767676;
    font-size: 16px; color: #fff; background: #347355;
}
.contents .pay-area button {
    margin-left: 90px;
}
/* 상세정보 */
.contents .detail-view .detail-title{
    position: relative; width: 100%; margin-top: 24px;
}
.contents .detail-view .detail-title h3{
    width: 100%; padding: 31px 0 9px; margin-top: 0; font-size: 24px;
    border-bottom: 2px solid #333; font-weight: 800;
    letter-spacing: -1px; color: #333;
}

.contents .detail-view .detail-title .btn-modify{
    position: absolute; right: 0; top: 18px; width: 171px;
    height: 40px; line-height: 38px; border: 1px solid #767676;
    font-size: 16px; color: #000;

}
.contents .detail-view .detail-title .btn-modify span{
    display: inline-block; letter-spacing: -0.5px;
}
.contents .detail-view .detail-title .btn-modify span::before{
    content: ''; display: inline-block; width: 16px; height: 16px;
    background: url(https://korean.visitkorea.or.kr/resources/images/sub/icon_btn_modify.png) 0 0 / 100% 100% no-repeat;
    vertical-align: -2px; margin-right: 8px;
}
.contents .detail-view .detail-text{
 position: relative; padding-bottom: 0 !important; padding-top: 33px;
}
.contents .detail-view .detail-text .inner-detail{
    height: 150px;
}
.contents .detail-view .detail-text .inner-text-area{
    border-bottom: 0; padding-bottom: 0;
}
.contents .detail-view .detail-text .inner-text-area > p{
    color: #333; font-size: 18px; line-height: 1.7; letter-spacing: -1px;
}
.contents .detail-view .detail-text .inner-text-area::after{
    content: ''; display: block; clear: both;
}
.contents .detail-view .detail-text .text-more{
    position: relative; height: 33px;
}
.contents .detail-view .detail-text .text-more .btn-more{
    display: block; right: 3px; overflow: hidden; width: auto;
    font-weight: 700; background: #fff; border: 0;
    position: absolute; top: 0; color: #333; letter-spacing: -0.5px;
    font-size: 16px;
}
.contents .detail-view .detail-text .text-more .btn-more::after{
    content: '+'; width: auto; height: auto; font-size: 16px;
    font-weight: 700; background: none; margin: 0 0 0 5px; color: #333;

}

/* 지도 */
.contents .map-box{
    margin-top: 35px; padding: 0 0 13px;
}
.map-box .wrap-map{
    overflow: hidden; position: relative; width: 100%; height: 500px;
}
.contents .map-box .wrap-map{
    height: 300px; border: 1px solid #e6e6e6;
}

/* 주소 상세 설명 */
.contents .map-info{
    position: relative; width: 100%; margin-top: 24px;
}
.contents .map-info .area-textView{
    position: relative; padding-bottom: 0 !important;
}
.contents .map-info .inner-wrap{
    overflow: visible; height: auto;
}
.contents .map-info .inner-wrap .inner::after{
    content: ''; display: block; clear: both;
}
.contents .map-info .inner-wrap ul li{
    float: left; width: 50%; padding: 3px 0 6px 0;
    display: table; font-size: 15px; font-weight: 400; background: none !important;
}
.contents .map-info .inner-wrap ul li > strong{
    float: left; width: 26%; margin-right: 4%; font-size: 15px;
    color: #333; font-weight: normal;
}
.contents .map-info .inner-wrap ul li strong{
    float: none; margin-right: 0; position: relative; display: table-cell;
    width: 128px; padding: 0 0 0 12px; font-weight: bold; color: #333;
}
.contents .map-info .inner-wrap ul li strong::before{
    content: ''; display: inline-block; width: 3px; height: 3px; background: #0b0b0b;
    border-radius: 100%; position: absolute; left: 0; top: 9px;
}
.contents .map-info .inner-wrap ul li span{
    float: none; width: auto; display: table-cell; color: #666; padding-right: 20px; line-height: 1.4;
}
/* 태그 */
.contents .tag-area{
    overflow: hidden; position: relative; width: 1190px; margin: 30px auto 0;
}
.contents .tag-area .inner-tag{
    overflow: hidden; height: 50px;
}
.contents .tag-area .inner-tag ul{
    margin-left: -10px;
}
.contents .tag-area .inner-tag ul li{
    margin: 0 0 0 10px; float: left;
}
.contents .tag-area .inner-tag ul li a{
    display: inline-block; overflow: hidden; background: #fff; text-align: center;
    font-size: 16px; font-weight: 400; color: #777; border: 1px solid #d8d7d7;
    border-radius: 5px;
}
.contents .tag-area .inner-tag ul li a span{
    display: inline-block; height: 38px; line-height: 38px; padding: 0 20px;
}
/* 리뷰댓글 */
.contents .reply-area .title-reply{
    float: none; padding: 4px 0 12px 0; margin: 40px 0 0; font-size: 24px; font-weight: 800;
    background: none; letter-spacing: -1px; color: #333;
}
.contents .reply-area .reply-write{
    position: relative; background: #f7f7f7; border: 1px solid #e5e5e5;
    margin: 0; padding: 14px 0;
}
.contents .reply-area .reply-write::after{
    content: ''; display: block; clear: both;
}
.reply-write .form{
    float: right; margin: 14px 20px 0 0;
}
.contents .reply-area .reply-write .form{
    float: none; margin: 0 20px;
}
.contents .reply-area .reply-write .write-form{
    display: block; height: 88px; position: relative;
}
.contents .reply-area .reply-write .form textarea{
    width: 100%; float: none; padding: 15px 20px 15px 20px;
    font-size: 16px; box-sizing: border-box; height: 80px; line-height: 20px;
    border: 1px solid #e5e5e5; resize: none;
}
.contents .reply-area .btn-fileReg-wrap{
    text-align: right; padding: 10px 0 0;
}
.contents .reply-area .btn-fileReg-wrap::after{
    content: ''; display: block; clear: both;
}
.contents .reply-area .btn-fileReg-wrap .btn-fileReg{
    margin: 0; height: 40px; float: right;
}
.contents .btn-fileReg{
    position: relative; display: inline-block; vertical-align: middle;
}
.contents .reply-area .btn-fileReg-wrap .btn-fileReg input[type="file"]{
    width: 54px; height: 40px; position: absolute; padding: 0;
    clip: rect(0,0,0,0); border: none; 
}
.contents .reply-area .btn-fileReg-wrap .btn-fileReg label{
    width: 54px; height: 40px; background: url(../img/btn_fileReg_file.gif) 0 0 / 100% 100% no-repeat;
    position: relative;
    bottom: 24px;
}
.btn-fileReg-wrap .btn-fileReg label{
    display: inline-block; cursor: pointer; font-size: 0; background: url(../img/btn_fileReg_file.gif) 0 0 / 100% 100% no-repeat;
}
.contents .reply-area .btn-fileReg-wrap .btn-fileReg .btn-apply{
    position: relative; display: inline-block; background: #13294b; color: #fff;
    font-size: 15px; width: 73px; height: 40px; line-height: 40px; text-align: center;
    margin-left: 8px; vertical-align: middle;
}
.contents .reply-area .wrap-reply{
    min-height: auto;
}
.contents .reply-area .wrap-reply .list-reply{
    width: 100%;
}
.contents .reply-area .wrap-reply .list-reply>ul>li{
    position: relative; width: 100%; padding: 20px 10px; border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.contents .reply-area .wrap-reply .list-reply>ul>li::after{
    content: "."; display: block; height: 0; clear: both; visibility: hidden;
}
.contents .reply-area .wrap-reply .list-reply .profile{
    position: relative; float: left; width: 50px; height: 50px;
}
.contents .reply-area .wrap-reply .list-reply .profile .photo{
    width: 50px; height: 50px; border-radius: 100%; background-position: 50% 50%;
    background-size: cover; background-repeat: no-repeat;
}
.contents .reply-area .wrap-reply .list-reply .text-reply{
    width: 1060px; float: left; padding-left: 20px;
}
.contents .reply-area .wrap-reply .list-reply .text-reply p{
    padding-bottom: 5px; font-size: 16px; color: #333; word-break: break-all;
    padding-right: 23px;
}
.contents .reply-area .wrap-reply .list-reply .text-reply .date{
    color: #333; font-size: 14px;
}
.contents .reply-area .wrap-reply .list-reply .text-reply .name{
    line-height: 18px; background: url(../img/line_tit.png) 100% 5px no-repeat; color: #333; display: inline-block;
    vertical-align: top; padding-right: 10px; margin-right: 7px;
}
.contents .reply-area .wrap-reply .list-reply .text-reply span{
    line-height: 18px; display: inline-block; vertical-align: top; color: #707070;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn{
    display: block; clear: both; padding: 17px 0 0 70px;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn button{
    width: 69px; height: 28px; line-height: 26px; border: 1px solid #e5e5e5; 
    color: #0a97cd; font-size: 15px; text-align: center; background: #fff;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn button.btn1::before{
    width: 17px; height: 15px; background: url(../img/btn_reply_01.png) no-repeat;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn button::before{
    content: ''; display: inline-block; vertical-align: -2px;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn button span{
    display: inline-block; margin-left: 4px;
}
.list-reply .replyBtn button+button{
    margin-left: 2px;
}
.contents .reply-area .wrap-reply .list-reply .replyBtn button.btn2::before{
    width: 18px; height: 16px; vertical-align: -4px; background: url(../img/btn_reply_02.png) no-repeat;
}
.contents .reply-area .wrap-reply .list-reply .btn-report{
    position: absolute; right: 20px; top: 21px;
}
.contents .reply-area .wrap-reply .list-reply .btn-report button{
    text-indent: -9999px; width: 17px; height: 18px;
    background: url(../img/btn_reply_report.png) no-repeat;
}
.contents .reply-area .wrap-reply .list-reply .btn-center{
    text-align: center;
}
.contents .reply-area .wrap-reply .list-reply .btn-more{
    border: 0; margin-top: 5px; display: inline-block; width: 150px;
    padding: 10px 10px; text-align: center; font-size: 16px; color: #000;
}
.contents .reply-area .wrap-reply .list-reply .btn-more::after{
    content: '+'; width: auto; height: auto; font-size: 16px; font-weight: bold;
    background: none; margin: 0 0 0 5px; color: #333;
}
/* 푸터 */
footer{
    width: 100%; margin-top: 60px; padding-bottom: 10px; background: #f7f7f7;
    box-sizing: border-box;
}
footer .box-footer{
    width: 1190px; margin: 0 auto;
}
footer .box-footer .footer-data{
    padding: 20px 0; border-top: 1px solid #e6e6e6; position: relative;
}
footer .box-footer .footer-data::after{
    content: ''; display: block; clear: both;
}
footer .box-footer .footer-data .footer-menu{
    width: 100%; padding-top: 10px; overflow: hidden;
}
footer .footer-data .footer-menu li{
    float: left; line-height: 30px;
}
footer .footer-data .footer-menu li:first-child{
    padding-left: 2px;
}
footer .footer-data .footer-menu a{
    margin-right: 30px; color: #666; font-size: 13px; letter-spacing: -0.25px;
}
footer .footer-data .footer-menu a.personal-info{
    color: #2c47dc; font-weight: bold;
}
footer .footer-data .footer-address{
    clear: both; padding-top: 6px;
}
footer .footer-data .footer-address li{
    display: inline-block; margin-right: 5px; line-height: 1.8; color: #666; font-size: 13px;
}
footer .footer-data .footer-address li>span{
    padding-right: 10px;
}


/* 공통 */
.blind{
    position: absolute;
    width: 1px; height: 1px;margin: -1px; overflow: hidden;
}
button{
    border: 0 none; background-color: transparent; cursor: pointer;
}
.count{
    vertical-align: middle; display: inline-block; margin-left: 8px;
    color: #666; font-size: 15px; font-weight: 300; line-height: 18px;
}
.swiper-slide{
    flex-shrink: 0; height: 100%; position: relative;
}
.swiper-pagination-fraction{
    bottom: 10px; left: 0; width: 100%;
}
.swiper-pagination{
    position: absolute; text-align: center;
}

