*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style :none;
}
a{
    text-decoration: none;
    color: black;
}
#body{ 
    min-width: 1190px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    line-height: 16px; font-size: 12px; color: #202020; 
}
.display-none{
    display: none !important;
}
.clearfix::after{
    clear: both; display: block; content: '';
}
.main-container{
    margin: 0 auto;
}
.main-banner-link{
    position: relative;
    text-align: center;
}
.main-banner-link img{
    width: 100%;
    height: 500px;
}
.main-banner-text{
position: absolute;
bottom: 100px;
text-align: start;
z-index: 2;
margin: 10px;
color: white;
font-size: 40px;
left: 450px;
}
.main-banner-text p{
    font-size: 17px;
}

.main-curation-area{
    margin-top: -4.5px;
    width: 100%;
    height: 430px;
    background-color: #F0F2F7;
    padding-bottom: 50px;
}

.main-curation-area h2{
    width: 940px;
    margin: 0 auto 0;
    padding: 41px 0 30px;
}
.main-curation-area .curation-logo img{
    height: 46px;
    background: 290px 100% no-repeat;
}
.curation-box{
    width: 940px;
    margin: 0 auto;
}
.curation-box .curation-tab >li{
    padding: 0 0 2px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.curation-box .curation-tab >li >a{
    float: left;
    width: 165px;
    font-size: 18px;
    color: #5b6164c0;
    background-color: white;
    border-radius: 50px;
    margin-left: 20px;
    padding: 7px;
    text-align: center;
    font-weight: bold;
}

.curation-box .curation-tab >li >a >span{
    line-height: 18px;
}

.placelist{
    display: flex;
    margin-left: 40px;
}

.placelist .list-item
{
    position: relative;
    margin-left: 20px;
    width: 233px;
}

.placelist .list-item >a{
    position: relative;
    display: block;
    border-radius: 20px;
    height: 235px;
    overflow: hidden;
}
.curation-inner{
    position: absolute;
    left: 181px;
    top: 0;
}
.curation-inner .placelist .item-img{
    height: 100%;
    width: 100%;
}
.more-view{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    padding: 20px 0 0;
}
.curation-box .more-view-recbtn{
    color: #333;
    line-height: 19px;
    margin-right: 18px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    margin-top: 2px;
}

.curation-box .more-view-btn{
    line-height: 19px;
}

.curation-box .more-view-recbtn::after
{
    content: '';
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-left: 6px;
    vertical-align: -2px;
    background: url(./semi_ahn_img/btn_curation_refresh.png);}

.curation-box .more-view-btn::after{
    content: '';
    display: inline-block;
    width: 9px;
    height: 14px;
    margin-left: 6px;
    vertical-align: -1px;
    background: url(./semi_ahn_img/btn_curation_more.png) no-repeat;
}

.main-special{
    position: relative;
    margin: 25px 0 40px;
    padding: 10px 0 0;
}

.main-special .special-inner{
    width: 980px;
    margin: 0 auto;
    padding: 0 20px 0;
}
.special-container{
    width: 100%;
    padding-top: 0;
}

.special-container .special-left .special-banner{
    height: 248px;
    margin-bottom: 23px;}
.special-container .special-left .special-banner >a{
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.special-container .special-left .special-banner >a .special-img{
    vertical-align: middle;
    border-radius: 10px;
}

.special-article{
    width: 455px;
}
.special-arttitle
{
    overflow: hidden;
    position: relative;
    display: block;
    margin-top: -5px;
    height: 38px;
    padding: 3px 15px 0 2px;
    font-weight: 800;
    color: #4e4e4e;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 800 !important;
    font-size: 22px !important;
    letter-spacing: -1px;
    margin-bottom: 16px !important;
}

.arttitle-btn{
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 0;
    width: 12px;
    height: 12px;
    background: url(./semi_ahn_img/ico_moreplus.png) 0 0 no-repeat;
    text-indent: -9999px;
}

.special-artlist a
{
    overflow: hidden;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 42px;
    color: #666;
}

.special-artlist a em{
    padding-right: 5px;
    font-weight: bold;
    font-style: normal;
}
.special-artitem{
    border-bottom: 1px solid #dae1e6;
}
.special-left{
    float: left;
}
.special-right{
    display: block;
    float: right;
    position: relative;
    width: 465px;
    margin-top: -8px;
}
.special-swipperlist .swipperitem{
    padding: 0 0 2px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.special-swipperlist .swipperitem .inneritem{
    margin-top: 4px;
    padding: 0 0 0 2px;
}
.special-swipperlist .swipperitem .inneritem a img
{
    display: block;
    border-radius: 10px;
    position: relative;
}

.main-theme-container{
    width: 980px;
    margin: 0 auto;
    padding: 0 20px 27px;
}
.main-theme-container .theme-inner{
    width: 100%;
    margin-top: 10px;
}
.main-theme-container .theme-title{
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -1px;
    padding: 4px 0 15px;
    color: #333;
    width: 100%;
    margin-top: 30px;
}
.theme-inner .theme-left{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.theme-inner .theme-mid{
    margin-left: 20px;
    float: left;
    width: 300px;
    margin-right: 20px;
}
.theme-inner .theme-right{
    float: left;
    width: 300px;
    margin-left: 20px;
}
.theme-inner .theme-article{
    border: 1px solid #dae1e6;
    display: block;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 19px;
    position: relative;
}
.theme-inner .theme-article >img{
    margin: auto;
    border-radius: 7px;
}

.theme-inner .theme-article h3{
    height: auto;
    padding: 0;
    position: absolute !important;
    left: 40px;
    top: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    z-index: 10;
    line-height: 21px;
}